.root {
	-fx-background-color: white;
	-fx-alignment: center;
}

* {
	-fx-font-family: "Segoe Light";
	-fx-wrap-text: true;
	-fx-font-size: 16;
	-fx-text-align: justify;
}

Button {
	-fx-background-color: #333;
	-fx-text-fill: white;
	-fx-background-radius: 0;
}

Button:hover {
	-fx-background-color: black;
	-fx-cursor: hand;
}

.answer-container {
	-fx-spacing: 10;
	-fx-alignment: center;
}

.answer-button {
	-fx-font-size: 15;
	-fx-min-width: 350;
	-fx-max-width: 350;
	-fx-min-height: 60;
}

.question-container {
	-fx-max-width: 350;
	-fx-min-height: 500;
	-fx-max-height: 500;
	-fx-alignment: center;
}

.question-label {
	-fx-font-family: "Segoe Light";
	-fx-font-size: 18;
	-fx-max-width: 350;
	-fx-min-width: 350;
	-fx-text-align: justify;
	-fx-alignment: top_center;
}

.question-image {
	-fx-max-width: 350;
	-fx-min-width: 350;
}

.start-button {
	-fx-font-size: 28;
	-fx-min-height: 50;
	-fx-min-width: 300;
}

.progress-bar {
	-fx-accent: #666;
	-fx-min-width: 700;
	-fx-max-width: 700;
	-fx-bottom: 0;
}

.progress-label {
	-fx-font-weight: bold;
	-fx-text-fill: #666;
}