.root {
	-fx-background-color: white;
	-fx-alignment: center;
}

* {
	-fx-font-family: "Segoe Light";
	-fx-wrap-text: true;
	-fx-font-size: 16;
	-fx-text-align: justify;
}

Button {
	-fx-background-color: #333;
/*	-fx-background-color: transparent;*/
/*	-fx-border-style: solid;*/
	-fx-text-fill: white;
	-fx-background-radius: 0;
}

Button:hover {
	-fx-background-color: #444;
	-fx-cursor: hand;
}

.answer-container {
	-fx-spacing: 10;
	-fx-alignment: center;
}

.answer-button {
	-fx-font-size: 15;
	-fx-min-width: 350;
	-fx-max-width: 350;
	-fx-min-height: 60;
}

.question-container {
	-fx-max-width: 350;
	-fx-min-width: 350;
	-fx-alignment: center;
}

.question-label {
	-fx-font-family: "Segoe Light";
	-fx-font-size: 18;
	-fx-max-width: 350;
	-fx-min-width: 350;
	-fx-alignment: top_center;
	-fx-text-alignment: justify;
}

.question-image {
	-fx-max-width: 350;
	-fx-min-width: 350;
}

.start-button {
	-fx-font-size: 28;
	-fx-min-height: 50;
	-fx-min-width: 300;
}

.progress-bar {
	-fx-accent: #333;
	-fx-min-width: 760;
	-fx-max-width: 760;
	-fx-background-insets: 0;

	-fx-min-height: 20;
	-fx-max-height: 20;
}

.progress-label {
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.aux-text {
	-fx-min-height: 80;
	-fx-max-height: 80;
	-fx-min-width: 250;
	-fx-max-width: 250;
}

.result-reveal {
	-fx-font-size: 50;
	-fx-font-weight: bold;
	-fx-text-alignment: right;
}

.hint-text {
	-fx-text-alignment: justify;
	-fx-max-height: 300;
	-fx-min-width: 350;
}

.next-button {
	-fx-min-width: 40;
	-fx-min-height: 70;
	-fx-max-width: 40;
	-fx-max-height: 70;

	-fx-background-color: red;

	-fx-cursor: hand;
}

.square-button {
	-fx-min-width: 40;
	-fx-min-height: 40;
	-fx-max-width: 40;
	-fx-max-height: 40;
}

.title-box {
	-fx-background-color: white;
}

.title-text {
	-fx-font-size: 42;
}

.title-subtext {
	-fx-font-size: 16;
}

.title-pane {
	-fx-text-alignment: center;
	/*-fx-background-image: url("/lv/avg/data/physics.jpg");*/
	-fx-background-size: cover;
}
